@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style: none;
  transition: all .4s;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.bg-default {
  background: #0074FE no-repeat;
}